h1{
	text-align: center;
	font-family: cursive;
}
ul{
	list-style-type:none;

}
li{
	float: left;

}
a{
	display: block;
	padding-left:10px;
	padding-right:10px;
	text-decoration: underline;
	font-weight: none;	
}
a:link{
	color: red;
	text-decoration: none;
}
a:visited{
	color: green;
	text-decoration: none;
}
a:hover{
	font-weight: bold;
	color: red; 
	text-decoration: underline;
}
a:active:{
	text-decoration: none;
	color: red;
}
#wrapper{
	width:1000px;

}
tr{
	border:none
}
#middle{
	width: 231px;
	float:right
}
#left{
	width: 231px;
	float:left
}
#right{
	width: 231px;
	float:right
}




#table{
	text-align: center;
	border: 1px solid black;
	width: 400px;
}
lable{
		float: left; 
		padding-right: 12px;
		width:200px;
		font-weight:bold;
		
		}
		
input, textarea{
		margin-top: 12px}
#tb{
	background-color: orange;
}

.jumbotron{
	background-color: white
}